:root {
    --primary-bg-color: #0f1700;
    --primary-text-color: white;
    --primary-link-color: #1a73e8;
    --primary-font-family: arial;
    --text-dim: #9099a6;
    --max-wid: 1070px
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    font-family: var(--primary-font-family);
    margin: 0 auto;
    padding: 0;
}

a {
    color: var(--primary-link-color);
    text-decoration: none;
}

.wrap {
    max-width: var(--max-wid);
    margin: 0 auto;
    padding: 0 28px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
}

.logo {
    display: flex;
    align-items: center;
    gap: 18px;
    font-family: var(--primary-font-family);
    font-weight: 600;
    font-size: 16px;
    color: white;
}

.nav-link {
    display: flex;
    align-items: center;
    gap:32px;
}

.nav-link a {
    font-size: 14.5px;
    color: var(--text-dim);
    transition: color .15s ease;
}

.nav-link a:hover {
    color: white;
}



footer {
    background: blue;
    width: 100%;
    max-width: 1070px;
    margin: 0 auto;
}