{% include head.html %}
{% include header.html %}
        <section id="about">
            <div class="wrap about-grid">
                <div class="profile">
                    <img src="https://pbs.bsimg.net/media/profile-pictures/a3/3d/a33d14b272?name=original&format=jpg">
                    <h2>Hello, I'm Ben!</h2>
                </div>
                <div>
                    <h2>{{ page.title }}</h2>
                    {{ content }}
                </div>
            </div>
        </section>
{% include footer.html %}